<ion-view>
  <ion-nav-title>
    <img src='img/logo100.png' /> Your City
  </ion-nav-title>
  <ion-content id="div_location_content">
    <div class="list">
      <div class="item" ng-repeat="city in cities" ng-click="select_city(city)">
        {{city.name}}
      </div>
      <div class="item" ng-click="ui.new_city = true">
        Other ..
      </div>
    </div>
    <div ng-show="ui.new_city">
      <div>
        <h4> Add your city </h4>
      </div>
      <div class="list" name="location_form">
        <div class="item" ng-click="show_countries($event)">
          {{selected_country.name}}
        </div>
        <label class="item item-input">
          <input placeholder="City" type="text" ng-model="ui.city" name="city">
        </label>
      </div>
      <div>
        <a class="button button-block" href="#" ng-click="add_city()"> Add and Select City </a>
      </div>
    </div>

  </ion-content>
</ion-view>
