<ion-view>
  <ion-nav-title>
    <img src='img/logo100.png' /> Login
  </ion-nav-title>
  <ion-content>
    <div>
      <a class="btn-auth btn-facebook large" ng-click="login('facebook')">
        Sign in with <b>Facebook</b>
      </a>
    </div>
    <div class="center calm"> {{fb_data.status}} </div>
    <div class="center">
      Don't have Facebook account? <strong> Really?  </strong>
      <a href="https://www.facebook.com/r.php"> Click this </a>
    </div>
    <div class="padding"></div>
    <div class="center" ng-show="EnvName != 'prod'">
      To wipe locally stored data, <a href="#" ng-click="clear_storage()">click this</a>.
    </div>
  </ion-content>
</ion-view>
