<ion-view>
  <ion-nav-title>
    <img src='img/logo100.png' /> {{passion.name}}
  </ion-nav-title>
  <ion-content>

    <div class="row">
      <div class="col center dark">
        <span ng-click="switch_to('messages')">
          <i class="icon ion-ios-chatboxes" style="font-size: 1.6em;"></i> 
          <span ng-show="stats.chats > 0" style="font-size: 0.9em; "> {{stats.chats}} </span>
        </span>
      </div>
      <div class="col center dark">
        <span ng-click="switch_to('events')">
          <i class="icon ion-ios-calendar" style="font-size: 1.6em;"></i> 
          <span ng-show="stats.events > 0" style="font-size: 0.9em; "> {{stats.events}} </span>
        </span>
      </div>
      <div class="col center calm">
        <span ng-click="switch_to('members')">
          <i class="icon ion-person-stalker" style="font-size: 1.6em;"></i> 
          <span style="font-size: 0.9em; "> {{stats.followers}} </span>
        </span>
      </div>
    </div>

    <ion-list>
      <ion-item ng-repeat="member in members" class="item-avatar">
        <img ng-src="{{member.fb_picture}}">
        <h2> {{member.display_name}} </h2>
        <p> {{member.last_seen | timeAgo}} </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>