<ion-view>
  <ion-nav-title>
    <img src='img/logo100.png' /> {{passion.name}}
  </ion-nav-title>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="message in messages" class="item-avatar">
        <img ng-src="{{message.fb_picture}}">
        <p ng-bind-html="message.text"> 
        </p>
        <p>
          sent by {{message.author_name}} {{message.posted_on | timeAgo}}
        </p>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer-bar class="bar-stable" style="height: auto;">
    <label class="item item-input" style="width: 100%;">
      <textarea ng-model="chat.text" expanding-textarea ng-class="chat_class"></textarea>
    </label>
    <div ng-click="send_message()" style="padding: 6px 12px 0px 12px;">
      <i class="icon ion-chevron-right"></i>
    </div>
  </ion-footer-bar>

</ion-view>