<ion-view>
  <ion-nav-title>
    <img src='img/logo100.png' /> My Passions
  </ion-nav-title>
  <ion-content>
    <div class="bar bar-header bar-positive item-input-inset">
        <ion-search 
            id="ion_search_passions"
            class="search-wrapper-light" 
            placeholder="I care for .." 
            min-length="2" 
            model="queried_passions" 
            search-model="searchModel"
            source="queryPassions(str)">
        </ion-search>
    </div>
    <div class="list">
      <div ng-repeat="passion in queried_passions" class="item" ng-click="add(passion)">
            {{passion.name}}
      </div>
    </div>
    <div ng-if="queried_passions.length == 0 && searchModel.value.length > 2" class="row">
      Not found?
      <a href="#" ng-click="add_passion()"> Add </a>
    </div>
    <ion-list>
      <ion-item ng-repeat="passion in user_passions">
        <h2> {{passion.name}} </h2>
        <div class="item-icon-right" ng-click="remove(passion)">
            <i class="icon ion-trash-b"></i>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
  <ion-footer-bar class="bar-positive tabs tabs-calm">
    <a class="tab-item tab-item-active" ng-click="done()" ng-disabled="user_passions.length == 0">
      Save
    </a>
  </ion-footer-bar>
</ion-view>
