<?xml version='1.0' encoding='utf-8'?>
<widget id="org.thecareapp.thecareapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TheCareApp</name>
    <description>
        Passion is Life!
    </description>
    <author email="team@thecareapp.org" href="http://thecareapp.org/">
      Ionic Framework Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <feature name="Keyboard">
        <param name="id" value="com.ionic.keyboard" />
    </feature>
    <feature name="Facebook Connect">
        <param name="id" value="com.phonegap.plugins.facebookconnect" />
        <param name="url" value="https://github.com/Wizcorp/phonegap-facebook-plugin#:." />
    </feature>
    <feature name="Geolocation">
        <param name="id" value="org.apache.cordova.geolocation" />
    </feature>
    <feature name="Network Information">
        <param name="id" value="org.apache.cordova.network-information" />
    </feature>
</widget>
