/* Empty. Add your own CSS if you like */

.center {
     text-align: center;
}

.nav-bar-title img {
    height: 44px;
    vertical-align: middle;
}


.dashboard .card a {
    text-decoration: none;
    color: inherit;
}